@import '../style/variables.scss';


.header{
    color: $color-dark-blue;
    font-size: 48px;
   
}
.header:hover{
  text-decoration: none !important;
}
.headerIcon{
    transform: rotate(90deg);
    height: 36px;
    width: 36px;
    margin: 10px;
    margin-bottom: 25px;
    animation:rotation 10s linear infinite;
}
.headerIcon:hover{
    animation:reverseRotation 10s linear infinite;
}
.headerIconLeft{
    transform: rotate(270deg)  scaleX(-1);
    height: 36px;
    width: 36px;
    margin: 10px;
    margin-bottom: 25px;
    animation:reverseRotation 10s linear infinite;
}
.headerIconLeft:hover{
    animation:rotation 10s linear infinite;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes reverseRotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  .headerLine{
    background-color: $color-dark-blue;
    height: 5px;
    width: 80%;
    left: 10%;
    border-radius: 5px;
    justify-content: center;
    position: relative;
  }
  .headerAnimations{
    animation:fromTop 3s;
  }
@keyframes fromTop {
  from {
    transform: translateY(-100%)
  }
  to {
    transform: translateY(0%)
  }
}