@import '../style/variables.scss';

.home{
    margin-left: 24px;
    margin-right: 24px;
}
.header{
    color: $color-dark-blue;
    font-size: 48px;
    margin-bottom: 24px;
}
.flourishIcon{
    transform: rotate(90deg);
    height: 50px;
    width: 50px;
    margin: 15px;
    animation:rotation 10s linear infinite;
}
.flourishIcon:hover{
    animation:reverseRotation 10s linear infinite;
}
.flourishleft{
    transform: rotate(270deg)  scaleX(-1);
    height: 50px;
    width: 50px;
    margin: 15px;
    animation:reverseRotation 10s linear infinite;
}
.flourishleft:hover{
    animation:rotation 10s linear infinite;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes reverseRotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  .navBar{
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
    margin: auto;
    width: 80%;
    height: 50px !important;
  }