@import './variables.scss';

.color-black{
    color:$coler-black
}
.coler-dark-blue{
    color:$coler-dark-blue
}
.coler-blue{
    color:$coler-dark-blue
}
.coler-ligt-blue{
    color:$coler-ligt-blue
}
