@import './variables.scss';

.color-dark-grey{
    color:$color-dark-grey;
}
.color-dark-blue{
    color:$color-dark-blue;
}
.color-blue{
    color:$color-dark-blue;
}
.color-light-brown{
    color:$color-light-brown;
}
.color-light-grey{
    color: $color-light-grey;
}
.color-grey{
    color: $color-grey;
}
.sectionHeader{
    font-size: 36px;
    font-style: oblique;
}
