
$color-blue: #2069e0;
$color-light-brown: #f4d47c;
$color-dark-blue: #082c6c;
$color-light-blue: #8db4f7;
$color-grey: #878683;
$color-light-grey: #DCDCDC ;
$color-dark-grey: #444444;
$color-white: #ffffff;
$color-black: #333333;
