@import '../../style/variables.scss';

.MuiMenu-paper{
    margin-top: 20px;
}
.MuiMenuItem-root{
    font-size: 24px;
    white-space: wrap !important;
}
a{
    color:$color-dark-grey;
    font-size: 24px;
}
.MuiList-padding{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.MuiListItem-gutters {
    padding-left: 5px !important;
    padding-right: 5px !important;
}